{% load static %}
<html>
<head>

   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
   <link rel="stylesheet" href="{% static "bookmap/bookmap.css" %}"
</head>
<body>

<h1>Hello world!</h1>

<div id="mapid"></div>

<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
<script src="{% static "bookmap/js/bookmap.js" %}"></script>
</body>
</html>
